.banner {
    position: relative;
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    background-color: #003459;
}

.banner__shape {
    position: absolute;
    border-radius: 99px;
}

.banner__shape--left {
    top: 223px;
    left: -190px;
    background-color: #002A48;
    transform: rotate(32deg);
    height: 650px;
    width: 1000px;
}

.banner__shape--right {
    bottom: -48px;
    right: -269px;
    background-color: #FCEED5;
    transform: rotate(24deg);
    width: 800px;
    height: 1000px;
}


.banner__content {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 1;
}

.banner__image-wrapper {
    margin-top: 6%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}

.banner__text-wrapper {
    text-align: right;
    flex: 1;
    max-width: 480px;
    color: #003459;
}

.banner__title {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
}

.banner__subtitle {
    margin: 8px 0;
    font-size: 1.75rem;
    font-weight: 600;
}

.banner__text {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 24px;
}

.banner__actions {
    margin-left: 31%;
    display: flex;
    gap: 16px;
}

.banner-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    padding: 14px 28px 10px 28px;
    border-radius: 57px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn--outline {
    background: transparent;
    color: #003459;
    border: 2px solid #003459;
}

.btn--outline .btn__icon {
    margin-left: 8px;
}

.btn--outline:hover {
    background-color: rgba(0, 52, 89, 0.1);
}

.btn--solid {
    background-color: #003459;
    color: #fff;
    border: none;
}

.btn--solid:hover {
    background-color: #00263a;
}

@media (max-width: 768px) {
    .banner {
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .banner__shape {
        display: none;
    }

    .banner__content {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .banner__text-wrapper {
        max-width: none;
    }
}