.login-button {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
    background-color: #103559;
    color: white;
    font-weight: bold;
}

.login-button:hover {
    background-color: #1a68d1;
}

.login-button:disabled {
    background-color: #93b8e8;
    cursor: not-allowed;
}

.login-link-button {
    background: none;
    border: none;
    color: #2c7be5;
    font-size: 0.875rem;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
}

.link-button:hover {
    color: #1a68d1;
}